<div class="message mb-3 me">
  <div class="content-container">
    <div class="content ">
      <span class='activity-status online user-<%= message.user.id %>-status'>
        •
      </span>
      <%= message.user.username %>
    </div>
    <div class="author">
      <%= message.content %>
    </div>
  </div>
</div>